{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "extends": ["airbnb"],
  "rules": {
    "no-console": "off",
    "import/prefer-default-export": "off",
    "quotes": [2, "double", { "avoidEscape": true }],
    "no-plusplus": "off",
    "comma-dangle": "off",
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "no-loop-func": "off",
    "operator-linebreak": "off",
    "array-callback-return": "off",
    "no-param-reassign": "off",
    "class-methods-use-this": "off",
    "no-unused-expressions": "off",
    "no-underscore-dangle": "off",
    "indent": "off",
    "prefer-const": "off",
    "no-new": "off",
    "no-restricted-syntax": "off",
    "object-curly-newline": "off",
    "dot-notation": "off",
    "max-len": "off",
    "no-return-assign": "off",
    "no-else-return": "off",
    "consistent-return": "off",
    "new-cap": "off"
  }
}
